In [1]:
#iterable  is basically used when we have big list of data which we dont want to save
lst=[1,2,3,4,5]
for i in lst:
    print(i)

1
2
3
4
5

In [2]:
my_list=iter(lst) # iterable list converted iterator

In [3]:
next(my_list)

1

In [4]:
#Generator will generate the iterator:
def sum_square():
    for i in range(5):
        yield(i*i)

In [5]:
result=sum_square()
result

In [6]:
for i in result:
    print(i)

0
1
4
9
16

In [7]:
lst1="hello"

In [8]:
lst2="hello"

In [9]:
id(lst1)

4411022896

In [10]:
id(lst2)

4411022896

# Map: used when we need multiple input to pass with same function need to be processed

## but passed parameter is only one to function

In [46]:
list1=[1,2,3,4,5,6]
list2=[1,2,3,4,5,6]

In [47]:
def sqrt(n):
    return(n*n)

In [48]:
f=sqrt(3)
f

9

In [49]:
result= list(map(sqrt,list1,list2))

TypeError: sqrt() takes 1 positional argument but 2 were given

In [45]:
result

[1, 4, 9, 16, 25, 36]